<div style="text-align:center;">
  <div>
    <h1>Welcome to PrivateEvents</h1>
    </hr>
    <h2>The home of all private events you love</h1>
  <div>
  <div>
    <%= link_to "Sign In", signin_path %>
  </div>
  <div>
  <p>*********</p>
  </div>
  <div>
    <%= link_to "Sign Up Now!", signup_path %>
  </>
</div>
