<div class="container signup-container welcome-container">
  <div class="signup-graphic welcome-graphic">
  </div>
  <div class="welcome-info">
    <h1>Join The Party!</h1>
    <p>Join a community where you can easily create, customize, browse and host your own private events.</p>
    <p>Sign up to create and invite others to your events as well as see your past events!</p>
    <div>
      <%= link_to "Sign Up", signup_path, class: 'welcome-signup-btn'  %>
    </div>
  </div>
</div>

