<div class="home-card container d-flex flex-column justify-content-center align-items-center text-center">
  <div>
    <%= render 'layouts/site_nav' %>
  <div>
  <div>
    <%= link_to "Sign In", signin_path %>
  </div>
  <div>
  <p>*********</p>
  </div>
  <div>
    <%= link_to "Sign Up Now!", signup_path %>
  </>
</div>
