<div style="text-align:center;">
  <div>
    <%= @user.name %>
  </div>
  <div>
    <ul>
      <% @user.events.each do |event| %>
        <li><%= event %>
      <% end %>
    </ul>
  </div>
  <div>
    <%= link_to "Sign Out", signout_path, method: :delete %>
  </div>
  <div>
    <p>******</p>
  </div>
  <div>
    <%= link_to "Create a new event", events_new_path%>
  </div>
</div>