<div class="container event-container user-show-container">
  <div class="user-event-counter">
    <p><%= @user.events.count %></p>
    <p>upcoming <%= 'event'.pluralize(@user.events.count) %></p>
  </div>
  <h1>Your Events</h1>
  <ul>
    <% @user.events.each do |event| %>
      <div class="event-card">
        <li>
          <h2><%= link_to(event.name, event_path(event)) %></h2>
          <div>
            <p>Created <%= distance_of_time_in_words(event.creator.created_at, event.created_at)%> ago</p>
          </div>
        </li>
      </div>
    <% end %>
  </ul>
</div>