<div class="container event-index-container">
  <div class="event-container">
    <h1>Upcoming Events</h1>
    <div class="event-index-cards-container">
      <%= render 'layouts/upcoming_event_card' %>
    </div>
  </div>
  <div class="event-container">
    <h1>Past Events</h1>
    <div class="event-index-cards-container">
      <%= render 'layouts/past_event_card' %>
    </div>
  </div>
</div>