<div class="container event-container event-main">
  <div class="event-main-nav">
      <%= link_to events_path do %>
        <i class="fas fa-arrow-circle-left"></i>
      <% end %>
  </div>
  <h1><%= @event.name %></h1>
  <div class="event-main-host">
    <h2>Hosted by: <%= link_to(@event.creator.name.capitalize, users_path(@user)) %> 🎉 </h2>
  </div>
  <div class="event-main-container">
    <div class="event-attending-title">
      <h2>Attending</h2>
    </div>
    <div class="event-attending">
      <div class="event-attending-list">
        <ul>
          <% @event.attendees.each do |attendee| %>
          <div class="event-card">
            <li>
              <h2><%= link_to(attendee.name, user_path(attendee))%></h2>
            </li>
          </div>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>