//@import '@fortawesome/fontawesome-free';
@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #c70039;
  background-image: image-url('food.png');
}

.home-card {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: #F1E1E7;
  border-radius: 25px;
  width: 70%;
  height: 80%;
  margin: 0 auto;
  margin-top: 30px;
}

.site-nav {
  background-color: cornsilk;
}

.nav-logo {
  img {
    display: inline-block;
    margin: 0 !important;
    height: 25px;
    width: 25px;
  }
}