//@import '@fortawesome/fontawesome-free';
@import url(https://fonts.googleapis.com/css?family=Baloo+Bhaina+2:regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
@import 'bootstrap-sprockets';
@import 'bootstrap';

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

body {
  background-color: #c70039;
  background-image: image-url('food.png');
}

.home-card {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: #F1E1E7;
  border: 5px solid #ffa41b;
  border-radius: 26px;
  width: 70%;
  height: 85%;
  margin: 0 auto;
  padding: 100px 20px 20px 20px;
  overflow-x: hidden;
  -webkit-box-shadow: 0px 3px 24px 3px rgba(72,6,32,1);
  -moz-box-shadow: 0px 3px 24px 3px rgba(72,6,32,1);
  box-shadow: 0px 3px 24px 3px rgba(72,6,32,1);
}

.site-nav {
  border-radius: 25px;
  height: 65px;
  li, a:not(.nav-logo) {
    font: 400 20px/20px "Baloo Bhaina 2";
    text-transform: uppercase;
    color: #c70039;
    padding: 16px 20px;
    transition: 0.2s;
    border-radius: 4px;
    a {
      color: #c70039;
      text-decoration: none;
      &:hover {
        color: #F1E1E7;
        background-color: #900C3F;
        border-radius: 4px;
        transition-duration: 0.015s;
        text-shadow: 0px 7px 9px rgba(81,14,14,0.52);
      }
    }
  }
}

.nav-join {
  margin-right: 20px;
  a {
    font-weight: 500 !important;
    background-color: #900C3F;
    color: #F1E1E7 !important;
    border-radius: 4px;
    transition-duration: 0.08s;
    &:hover {
      background-color: #ffa41b !important;
      color: #900C3F !important;
      font-weight: 600;
      border-radius: 40px;
      transform: scale(1.06);
      transition-duration: 0.05s;
      text-shadow: 0px 7px 9px rgba(143,92,15,0.56);
    }
  }
}

.nav-logo {
  height: 60px;
  padding: 14px 8px 0px 20px !important;
  font: 600 28px/34px "Baloo Bhaina 2" !important;
  img {
    display: inline-block;
    margin: 0 !important;
    height: 50px;
    width: 45px;
  }
  color: #c70039;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    color: #c70039;
  }
}

.home-page-container {
  height: 100%;
  width: 100%;
  background-color: #C70039;
  background-image: image-url('dark-dot.png');
  border-radius: 10px;
  border: 2px solid #7E0B37;
  -webkit-box-shadow: inset 0px -2px 21px 2px rgba(108,9,47,1);
  -moz-box-shadow: inset 0px -2px 21px 2px rgba(108,9,47,1);
  box-shadow: inset 0px -2px 21px 2px rgba(108,9,47,1);
}

.flash-container {
  text-align: center;
  font: 600 16px/18px 'Manrope', sans-serif;
  position: absolute;
  top: 65px;
  width: 100%;
  color: #303030;
  text-decoration: underline;
  text-shadow: 0px 3px 6px #BABABA;
}

// SIGN-IN PAGE -------------------------------------------//
.signin-container, .signup-container {
  width: 60%;
  height: 50%;
  position: relative;
  top: 45%;
  transform: translateY(-45%);
  margin: 0 auto;
  background-color: #F1E1E7;
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 21px -4px rgba(60,56,58,1);
  -moz-box-shadow: 0px 2px 21px -4px rgba(60,56,58,1);
  box-shadow: 0px 2px 21px -4px rgba(60,56,58,1);
  font-family: 'Manrope', sans-serif;
  border: 1px solid #7E0B37;
}
.signin-form{
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
  h2 {
    font: 600 24px/24px;
    margin-bottom: 45px;
    text-align: center;
  }
  input, textarea, select {
    border: 1px solid #dcdcdc;
    width: 60%;
    height: 35px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  form {
    text-align: center;
    label {
      text-align: left !important;
    }
  }
  p {
    font: 18px/18px;
  }
}

// JOIN PAGE ------------------------------------//
.signup-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  height: 80%;
  width: 90%;
  overflow: hidden;
  overflow-y: scroll;
}

.signup-graphic {
  width: 45%;
  height: 100%;
  text-align: center;
  background-image: image-url('signup-discoball');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.signup-form {
  width: 55%;
  padding: 25px;
  text-align: left;
  h1 {
    font: 300 52px/52px 'Baloo Bhaina 2';
    color: #404040;
  }
  p {
    font: 300 21px/21px 'Manrope';
    line-height: 1.5;
    color: #606060;
  }
  form {
    padding: 10px 10px 10px 0px;
    text-align: left;
    border-top: 1px solid #F1BFCE;
    border-top-style: dotted;
    label {
      display: inline-block;
      color: #808080;
      font: 300 16px/16px "Manrope";
      margin-right: 5px;
    }
    .form-control {
      display: inline-block;
      width: 70%;
      background-color: transparent;
      border: none;
      border-bottom: 3px solid #EA9FB5;
      box-shadow: none;
      outline: none;
      border-radius: 0;
      margin-top: 15px;
      margin-bottom: 40px;
      font: 300 20px/20px 'Manrope';
      padding-left: 5px;
      &:focus {
        outline: none;
        border-bottom: 3px solid #CE2052;
      }
    }
    .btn {
      display: block;
      height: 60px;
      width: 200px;
      border-radius: 4px;
      position: relative;
      background-color: #7E0B37;
      font: 500 24px/24px 'Baloo Bhaina 2';
      color: white;
      padding: 15px 16px;
      transition-duration: 0.03s;
      &:hover {
        background-color: #ffa41b !important;
        color: #900C3F !important;
        font-weight: 600;
        border-radius: 4px;
        transform: scale(1.06);
        transition-duration: 0.05s;
        text-shadow: 0px 7px 9px rgba(143,92,15,0.56);
      }
      &:focus {
        outline: none;
      }
    }
  }
  .disclaimer {
    margin-top: 20px;
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    color: #808080;
    a {
      color: #EA9FB5;
    }
  }
}