<header class="navbar navbar-fixed-top site-nav">
  <div class="container">
    <nav>
      <a href="#" alt="" class="navbar-brand">
        <%= image_tag "logo.png", class: "nav-logo d-inline-block align-top" %> Private Events
      </a>
      <ul class="navbar-nav nav navbar-right">
        <% if !logged_in? %>
          <li><%= link_to "Events", events_path %></li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle profile-dropdown" data-toggle="dropdown">Events<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "New Event" %>
            </ul>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>